@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d9a577;
  --foreground: #403a2f;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    @apply text-6xl md:text-8xl;
    @apply font-serif;
  }
  h2 {
    @apply text-4xl md:text-6xl;
    @apply font-serif;
  }
  h3 {
    @apply text-xl md:text-3xl;
    @apply font-serif;
  }
}
